In [2]:
import numpy as np

a = np.ndarray([1, 2, 3])
a

array([[[ 0.,  0.,  0.],
        [ 0.,  0.,  0.]]])

In [1]:
import numpy as np
np.zeros(3)

array([ 0.,  0.,  0.])

In [2]:
import numpy as np
np.ones((3, 4))

array([[ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.],
       [ 1.,  1.,  1.,  1.]])

In [9]:
import numpy as np
e = np.empty((3, 4))
z = np.ones_like(e)
e, z

(array([[ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.],
        [ 0.,  0.,  0.,  0.]]), array([[ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.],
        [ 1.,  1.,  1.,  1.]]))

In [12]:
import numpy as np
I = np.identity(4)
I

array([[ 1.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.],
       [ 0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  1.]])

In [ ]:
import numpy as np
a = np.array([1, 2, 3])
b = np.array([1, 2, 3], dtype=np.float)
c = a.astype(np.float)
a, b, c